.input-group input {
  max-width: calc(100% - 90px);
}

.input-group button {
  width: 90px;
}

input {
  width: 100%;
  padding: 8px 0;
  margin-bottom: 5px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #bcbcbc;
}

button {
  border: 0;
  padding: 10px;
  background: #333;
  font-size: 16px;
  color: #fafafa;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms;
  outline: none;
}

button:hover {
  background: #fafafa;
  color: #333;
}

::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.form--section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.form--section > div {
  width: 100%;
}

.form--section__half {
  flex-direction: column;

  @media (min-width: 450px) {
    flex-direction: row;
  }
}

.form--label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
}

.form--input__half {
  width: 100%;
  margin-left: 0px;

  @media (min-width: 450px) {
    width: 50%;
    margin-left: 10px;
  }
}

.form--input__half:first-of-type {
  margin-left: 0;
  margin-right: 0;

  @media (min-width: 450px) {
    margin-right: 10px;
  }
}

.form--error {
  color: red;
  font-size: 12px;

  &:before {
    content: '*';
  }
}


.form--has__error ::placeholder {
  color: rgba(255, 0, 0, 0.33);
}

.form--type__disabled {
  background: #f1f1f1;
  padding-left: 15px;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
