* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: $font-body;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

main {
  padding: 0 15px;
  margin-bottom: 40px;
}
