
.wallet--list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 15px;
    background-color: #f1f1f1;
  }

  .wallet--list__actions {
    button {
      max-width: 140px;
      margin-right: 15px;
    }
  }

  .wallet--address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
  }
}
